@{
  Layout = "_Layout";
}

<h1>Add a vendor</h1>
<h3>Hey Pierre!  Add a vendor here:</h3>
<br>
<form action="/" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Vendor description</label>
  <input id="vendorDescription" name="vendorDiscription" type="text">
  <button type="submit">Add</button>
</form>
<br>
<br>
<a href="/" class="btn-success">Back home</a>
<br>
<br>
<a href="/vendors" class="btn-success">Back to vendors.</a>