@using VendorOrderTracker.Models;
@{
  Layout = "_Layout";
}

<h1>Orders</h1>
<br>
@if (Model.Count == 0)
{
  <p>There are no orders for this vendor</p>
}
<ul>
  @foreach (Order order in Model)
  {
    <li><a href='/orders/@order.Id'>@order.Name</a></li>
  }
  
</ul>
<br>
<a href="/orders/new" class="btn-primary">Add a new order for this vendor</a>