@{
  Layout = "_Layout";
}

<h1>Add a new order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="orderName">Order Name</label>
  <input id="orderName" name="orderName" type="text">
  
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  
  <label for="price">Item Price</label>
  <input id="price" name="price" type="double">
  
  <label for="date">Order date</label>
  <input id="date" name="date" type="date">
  
  <button type="submit">Submit</button>
</form>