<div id="sidebar" class="shadow">  
  <div id="sidebarcontents">
    <h2 id="sidebartitle">Breaking Bread News!</h2>
    <p id="breadnews-text">Today 1,000 tons of flour was spilled on Hwy 7 outside Blernsburg.  No one was hurt but many future loaves of bread will remain unbaked.  Stay tuned for more bread news</p>
  </div>
</div>

